<a href="https://colab.research.google.com/github/abhinandan2611/python4beginners/blob/main/Advanced_Conditional_statements_and_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Advanced Conditional Statements in python
age = int(input("what is your age?"))

if  age>=18:
  print("You are no more a minor")
else:
  print("you are a minor")

what is your age?12
you are a minor

In [2]:
#Elif in python ---> allows you to check multiple conditions

age = int(input("what is your age"))

if age<13:
  print("you are way too young")
elif age<18:
  print("you are a teen")
else:
  print("you are more than liquid")

what is your age8
you are way too young

In [3]:
#Nested conditional statements ---> can place one condional statement inside another

num=int(input("enter the number"))

if num>0:
  print("the number is positive")
  if num%2==0:
    print("the number is even")
  else:
    print("the number is odd")
else:
  print("the number is negative")

enter the number9
the number is positive
the number is odd

In [4]:
#Use cases or practical examples for conditional statements
#Determine if a year is a leap year using nested condition statement

year = int(input("enter the year"))

if year>0:
  print("this is a valid year")
  if year%4==0:
    print("this is a leap year")
  else:
    print("this is not a leap year")
else:
  print("enter a valid year")

enter the year2021
this is a valid year
this is not a leap year

In [5]:
#Simple Calculator program

num1 = float(input("enter the first number: "))
num2 = float(input("enter the second number: "))
operation = input("enter the operation (+,-,*,/):")

if operation == '+':
   result = num1 + num2

elif operation == '-':
  result = num1 - num2
elif operation == '*':
  result = num1*num2
elif operation == '/':
  if num2 != 0:
    result = num1/num2
  else:
    result = "error! division by 0"
else:
  result = "invalid Operation."

print("Result:",result)

enter the first number: 9
enter the second number: 9
enter the operation (+,-,*,/):+
Result: 18.0