<a href="https://colab.research.google.com/github/abhinandan2611/python4beginners/blob/main/Lists_and_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
names=["john","doe","Abhi",1,2,3,4]
print(names)

['john', 'doe', 'Abhi', 1, 2, 3, 4]

In [6]:
#Accessing list items

fruits = ["apple","banana","mango","cherry","kiwi"]
print(fruits[2])           #accessing items in lists via indexing
print(fruits[0])
print(fruits[1:])          #accessing the entire list at the same time by defining the range using colon
print(fruits[1:3])         #accessing the list by defining the range(x,y)

mango
apple
['banana', 'mango', 'cherry', 'kiwi']
['banana', 'mango']

In [14]:
#modifying the list elements
fruits[1]="watermelon"
print(fruits)

['Watermelon', 'watermelon', 'cherry', 'mango']

In [15]:
#Lists Methods

fruits.append("orange")  #append--> adds an item at the end of the list
print(fruits)

['Watermelon', 'watermelon', 'cherry', 'mango', 'orange']

In [20]:
#Adding an element into a specific index of the list
fruits.insert(1,"banana")
print(fruits)

['Watermelon', 'banana', 'watermelon', 'cherry', 'mango']

In [19]:
#removing an element into a specific index of the list
fruits.remove("banana")
print(fruits)

ValueError: list.remove(x): x not in list

In [17]:
# Remove and return the last
popped_fruits=fruits.pop()    #pop--> removes the last element of the list and prints the element
print(popped_fruits)
print(fruits)

orange
['Watermelon', 'banana', 'watermelon', 'cherry', 'mango']

In [21]:
fruits.sort()
fruits

['Watermelon', 'banana', 'cherry', 'mango', 'watermelon']

In [22]:
fruits.clear()   #clears the entire list
print(fruits)

[]

In [24]:
#Slicing Lists
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])   #prints the lists upto index 5
print(numbers[5:])   #prints the lists starting from index 5
print(numbers[::2])  #prints the values with step size as 2(skips 2 values)
print(numbers[::-1]) #prints from the last with -1 as the step size

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
#Iterating over Lists

for number in numbers:
  print(number)

1
2
3
4
5
6
7
8
9
10

In [27]:
#Iterating with index

for index,number in enumerate(numbers):    #enumerate--> inbuilt function which prints indexes also
  print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [28]:
 # List comprehension
list=[]
 for x in range(10):
  list.append(x**2)
 print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
#Altenative way
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# List Comprehension
# Basic synatx [expression for item in iterable]
# with conditional logic [expression for item in iterable if condition]

In [30]:
#Basic list Comprehension

square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
#List comprehension with condition
list=[]
for i in range(10):
  if i%2==0:
    list.append(i)
print(list)

[0, 2, 4, 6, 8]

In [35]:
even_numbers = [num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [36]:
#Nested List comprehension--> iterating a list within a list

List1=[1,2,3,4]
List2=['a','b','c','d']

pair=[[i,j]for i in List1 for j in List2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [37]:
#List Compresion with function call(inbuilt)
words=["hello","world","python","lists"]
lenghts = [len(word) for word in words]
print(lenghts)

[5, 5, 6, 5]

# **Tuples**

In [3]:
#creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [4]:
number=tuple([1,2,3,4,5,6])    #a list can be converted to a tuple and vice versa
number

(1, 2, 3, 4, 5, 6)

In [5]:
#can use mixed data types
mixed_tuple=(1,"hi",3,3.14,True)
print(mixed_tuple)

(1, 'hi', 3, 3.14, True)

In [8]:
#Accessing the tuples

number[0]

1

In [10]:
number[0:4]    #somewhat similar to lists

(1, 2, 3, 4)

In [11]:
#indexing and slicing is same as lists

In [14]:
# Tuple Operations
concatenation_tuple = number + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'hi', 3, 3.14, True)

In [15]:
mixed_tuple * 3

(1, 'hi', 3, 3.14, True, 1, 'hi', 3, 3.14, True, 1, 'hi', 3, 3.14, True)

In [19]:
#Immutable Nature of Tuples
#Elements cannot be changed once assigned

list=[1,2,3,4,5]
print(list)
#this is a list
list[1] = "abhi"
print(list)

[1, 2, 3, 4, 5]
[1, 'abhi', 3, 4, 5]

In [20]:
list=(1,2,3,4,5)
print(list)
#this is a list
list[1] = "abhi"
print(list)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [22]:
## Tuple Methods
print(number.count(1))
print(number.index(3))

1
2

In [23]:
#Packing and unpacking tuple

packed_tuple=1,"hello",3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [24]:
#unpacking a tuple
a,b,c=packed_tuple
print(a,b,c)

1 hello 3.14

In [25]:
#unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [26]:
#nested tuple
#nested list

list=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
list[0][3]

4

In [28]:
list=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
list[2][3]

'c'

In [30]:
nested_tuple =  ((1,2,3),("a","b","c"),(True,False))

#access the elements inside a tuple
print(nested_tuple[0][2])

3

In [31]:
#iterarting over nested tuple
for sub_tuple in nested_tuple:
  for item in sub_tuple:
    print(item,end="")
  print()

123
abc
TrueFalse