<a href="https://colab.research.google.com/github/abhinandan2611/python4beginners/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#for loop ----> iterates in the loop // unspecific loops always starts from 0
range(5)
for i in range (5):
  print(i)

0
1
2
3
4

In [2]:
#loops and array indexing always starts from 0  // ex:range 1 to 6, the first no 1 will occupy index 0
for i in range(1,6):
  print(i)

1
2
3
4
5

In [9]:
for i in range(1,10,2):  #the third columns is steps which means it will skip the value which has been assumed
  print(i)

1
3
5
7
9

In [10]:
#Same things can be done in strings

str = "Abhinandan"
for i in str:
  print(i)

A
b
h
i
n
a
n
d
a
n

In [14]:
#while loop
#while loop continues to execute as lomg as the condition is true

count = 0
while count<5:
  print(count)
  count=count+1

0
1
2
3
4

In [18]:
#loop control statements
## break --> break statements exists the loop prematurely

for i in range(10):
  if i==5:
    break  #the loop break when i is incremented upto 5
  print(i)

0
1
2
3
4

In [19]:
##continue --> this statements skips the current iteration and continues with the next

for i in range(10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [21]:
#pass --> this statemnet is a null operation and does nothing

for i in range(5):
  if i==3:
    print("the number is",i)
    pass
  print(i)

0
1
2
the number is 3
3
4

In [22]:
#Nested loops

for i in range(3):
  for j in range(2):
    print(f"*i:{i} and j:{j}")

*i:0 and j:0
*i:0 and j:1
*i:1 and j:0
*i:1 and j:1
*i:2 and j:0
*i:2 and j:1

In [23]:
#Examples - Calculate the sum of First N natural number using a while and for loop

#while loop

n=10
sum=0
count =1

while count<=n:
  sum=sum+count
  count=count+1
print("Sum of first 10 natural numbers:", sum)

Sum of first 10 natural numbers: 55

In [24]:
#for loop
n=10
sum=0
#count =1

for i in range(11):
  sum=sum+i

print(sum)

55

In [27]:
#Example-- Prime numbers between 1 and 100

for num in range(1,101):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break
    else:
      print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97