<a href="https://colab.research.google.com/github/abhinandan2611/python4beginners/blob/main/Map_and_Filter_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Map() Function

Used to transfer data in a list comprehensively

In [1]:
def square(x):
  return x*x

square(10)

100

In [2]:
numbers=[1,2,3,4,5,6,7,8]

list(map(square,numbers))     #takes two inputs 1. fuction 2. iterable

[1, 4, 9, 16, 25, 36, 49, 64]

In [3]:
##Lambda Function with map
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
## Map multiple iterables

numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [6]:
## map() to convert a list of string to integers
str_numbers=['1','2','3','4','5']
int_numbers=list(map(int,str_numbers))     #typecasting is done

print(int_numbers)

[1, 2, 3, 4, 5]

In [7]:
##Inbuilt function using maps

words=['apple','banana','cherry']
upper_words=list(map(str.upper,words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [8]:
def get_name(person):
  return person['name']

people=[
    {'name':'abhi','age':23},
    {'name':'jack','age':33}
]
list(map(get_name,people))

['abhi', 'jack']

## Filter() Function

Used to filter out items from a list based on a condition

In [9]:
def even(num):
  if num%2==0:
    return True
even(24)

True

In [10]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12]

list(filter(even,lst))

[2, 4, 6, 8, 10, 12]

In [11]:
## Filter with Lambda function
numbers=[1,2,3,4,5,6,7,8,9]
greater_than_five=list(filter(lambda x:x>5,numbers))
print(greater_than_five)

[6, 7, 8, 9]

In [12]:
#Filter with a lambda funcion and multiple conditions
numbers=[1,2,3,4,5,6,7,8,9]
even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater_than_five)

[6, 8]

In [13]:
## Filter() to check if age is greater than 25 in dictionaries
people=[
    {'name':'abhi','age':23},
    {'name':'jack','age':33},
    {'name':'john','age':43},
    {'name':'jill','age':26}
]

def age_greater_than_25(person):
  return person['age']>25

list(filter(age_greater_than_25,people))

[{'name': 'jack', 'age': 33},
 {'name': 'john', 'age': 43},
 {'name': 'jill', 'age': 26}]