<a href="https://colab.research.google.com/github/abhinandan2611/python4beginners/blob/main/Sets_and_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #Sets do not follow specific order
 #sets do not allow duplicate elements
 #can define a list or a tuple inside a set

In [2]:
##Create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [10]:
my_empty_set = {1, 2, 3, 6, 5, 4, 5, 6}  # ignores the duplicate elements
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [11]:
#basic sets operation
#adding and removing element
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}

In [12]:
#removing the element from the set
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 7}

In [14]:
#set membership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

<>:3: SyntaxWarning: invalid decimal literal
<>:3: SyntaxWarning: invalid decimal literal
<ipython-input-14-665d908cf5a3>:3: SyntaxWarning: invalid decimal literal
  print(3in my_set)

In [17]:
#Mathemarical Operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

##union
union_set=set1.union(set2)
print(union_set)

##Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

#intersection update
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [18]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

#Differnce
print(set1.difference(set2))

{1, 2, 3}

In [19]:
#Symmetric differnece
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [21]:
#sets methods
set1={1,2,3}
set2={3,4,5}

##is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
False

# Dictionaries

In [27]:
## Creating Dictionaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [28]:
empty_dict=dict()
empty_dict

{}

In [29]:
#Key value pairs
student={"name":"Abhi","age":23,"grade":24}
print(student)

{'name': 'Abhi', 'age': 23, 'grade': 24}

In [31]:
#When do you get error
student={"name":"Abhi","age":23,"name":24}        #key values must be unique
print(student)

{'name': 24, 'age': 23}

In [32]:
# accessing dictionary elements
student={"name":"Abhi","age":23,"grade":'A'}
print(student)

{'name': 'Abhi', 'age': 23, 'grade': 'A'}

In [37]:
print(student['grade'])
print(student['age'])

#accessing using get() method

print(student.get('grade'))
print(student.get('lastname'))
print(student.get('lastname',"Not Availabe"))  #assigning the default value

A
23
A
None
Not Availabe

In [38]:
##Modifying Dicitonary Elements
## Dictionary are mutable, so you can add,update or delete elements
##keys must be unique
print(student)

{'name': 'Abhi', 'age': 23, 'grade': 'A'}

In [40]:
student["age"]=24  #updated value for the key
print(student)
student["address"]="Karnataka"  #added a new key and value
print(student)

{'name': 'Abhi', 'age': 24, 'grade': 'A', 'address': 'Karnataka'}
{'name': 'Abhi', 'age': 24, 'grade': 'A', 'address': 'Karnataka'}

In [15]:
# Dictionary methods
student={"name":"Abhi","age":23,"grade":'A',"address":'Karnataka'}
keys=student.keys()
print(keys)
values=student.values()
print(values)

items=student.items()  #get all key value pairs
print(items)

dict_keys(['name', 'age', 'grade', 'address'])
dict_values(['Abhi', 23, 'A', 'Karnataka'])
dict_items([('name', 'Abhi'), ('age', 23), ('grade', 'A'), ('address', 'Karnataka')])

In [16]:
## shallow copy (very important)

student_copy=student
print(student)
print(student_copy)

{'name': 'Abhi', 'age': 23, 'grade': 'A', 'address': 'Karnataka'}
{'name': 'Abhi', 'age': 23, 'grade': 'A', 'address': 'Karnataka'}

In [17]:
student["name"]="abhi2"
print(student)
print(student_copy)

{'name': 'abhi2', 'age': 23, 'grade': 'A', 'address': 'Karnataka'}
{'name': 'abhi2', 'age': 23, 'grade': 'A', 'address': 'Karnataka'}

In [18]:
student_copy1=student.copy()   #shallow copy
print(student_copy1)
print(student)

{'name': 'abhi2', 'age': 23, 'grade': 'A', 'address': 'Karnataka'}
{'name': 'abhi2', 'age': 23, 'grade': 'A', 'address': 'Karnataka'}

In [19]:
student["name"]="abhi3"
print(student_copy1)
print(student)

{'name': 'abhi2', 'age': 23, 'grade': 'A', 'address': 'Karnataka'}
{'name': 'abhi3', 'age': 23, 'grade': 'A', 'address': 'Karnataka'}

In [20]:
## Iterating over Dictionaries
#can use loops to interate over dictionaries,keys,values,or items

##Iterating over keys
for keys in student.keys():
  print(keys)

name
age
grade
address

In [21]:
##iterate over values
for values in student.values():
  print(values)

abhi3
23
A
Karnataka

In [23]:
## Iterate over key value pairs
for key,values in student.items():
  print(f"{key}:{values}")

name:abhi3
age:23
grade:A
address:Karnataka

In [24]:
## Nested Dictionaries
students={
    "student1":{"name":"abhi","age":23},
    "student2":{"name":"Iron","age":35},
}
print(students)

{'student1': {'name': 'abhi', 'age': 23}, 'student2': {'name': 'Iron', 'age': 35}}

In [25]:
## Access nested dictionaries elements
print(students["student2"]["name"])
print(students["student2"]["age"])

Iron
35

In [26]:
## Iterating over nested dictionaries
for student_id,student_info in students.items():
  print(f"{student_id}:{student_info}")
  for key,values in student_info.items():
    print(f"{key}:{values}")

student1:{'name': 'abhi', 'age': 23}
name:abhi
age:23
student2:{'name': 'Iron', 'age': 35}
name:Iron
age:35

In [27]:
##Dictionary Comprehension
squares={ x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [29]:
## condional dictionary comprehension
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [30]:
## Practical exmaples

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
  if number in frequency:
    frequency[number]+=1
  else:
    frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [31]:
## Merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}